<div id="post" class="row align-center mb-5 container">
  
  <div class="col-md-6">
    <a class="white-text" href="/comments/{{id}}">
    <h2>Title: {{title}}</h2></a>
    {{!-- {{#if isDashboard}}
  <button type="button" class="update btn btn-success" data-id="{{id}}">Update</button>
  {{/if}} --}}
    <p>Created At: {{format_date createdAt}}</p>
  </div>
  <div class="col-md-6">
    <p>{{text}}</p>
  </div>
  {{#if isDashboard}}
  <button type="button" class="delete btn btn-danger" data-id="{{id}}">Del</button>
  {{/if}}

</div>